[Desktop Entry]
Name=Atraci
Comment=Free music streaming player
Exec=atraci-bin %U
Icon=atraci-bin
Terminal=false
Type=Application
Categories=Player;AudioVideo;Audio;Video;Network;
